@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item
<div class="container">
  <br>
  <br>
  <div class="col-md-12">
    <div class=row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div id="card" class="card border-dark mb-3" style="position: center; width: 100%; height: 50%">
        <div class="card-header">
          <center>
          <h1>Are you sure you want to delete this?</h1>
          </center>
        </div>
        &nbsp;
        <center><h4>@Html.DisplayNameFor(model => model.Description):</h4><h2> @Html.DisplayFor(model => model.Description)</h2>
        @using (Html.BeginForm())
        {
          <input id="button" class="btn btn-outline-dark my-sm-0" type="submit" value="Delete" />
        }
        &nbsp;
        <center><button id="button" type="button" class="btn btn-outline-dark my-sm-0" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Back to List", "Index")</button></center>
        &nbsp;
        &nbsp;
      </div>
    </div>
  </div>