@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Item>
<div class="container">
  <br>
  <br>
  <div class="col-md-12">
    <div class=row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div id="card" class="card border-dark mb-3" style="position: center; width: 100%; height: 50%">
        <div class="card-header">
        <center><strong><h1 id="title" style="font-size:4vw">Items for @User.Identity.Name</h1></strong></center>
      </div>
      &nbsp;
      @if (Model.Any())
      {
        <center>
          @foreach (Item item in Model)
          {
            <h3>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</h3>
          }
        </center>
      } 
      else
      {
        <center><h3>No items have been added yet!</h3></center>
      }
      &nbsp;
      &nbsp;
      <center><button id="button" type="button" class="btn btn-outline-dark my-sm-0"style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Add new item", "Create")</button>
      &nbsp;
      <button id="button" type="button" class="btn btn-outline-dark my-sm-0"style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Home", "Index", "Home")</button></center>
      &nbsp;
      &nbsp;
    </div>
  </div>
</div>