@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category
<div class="container">
  <br>
  <br>
  <div class="col-md-12">
    <div class=row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div id="card" class="card border-dark mb-3" style="position: center; width: 100%; height: 50%">
        <div class="card-header">
          <center>
            <h1>Are you sure you want to delete this?</h1>
          </center>
        </div>
        &nbsp;
        <center>
          <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
        </center>
        &nbsp;
        @using (Html.BeginForm())
        {
          <center><input type="submit" value="Delete" id="button" type="button" class="btn btn-outline-dark my-sm-0" /> </center>
        }
        &nbsp;
        &nbsp;
        <center><button id="button" type="button" class="btn btn-outline-dark my-sm-0" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Back to List", "Index")</button></center>
        &nbsp;
        &nbsp;
      </div>
    </div>
  </div>